{% extends 'base.html.twig' %}

{% block title %}Email de réinitialisation envoyé{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <style>
        body {
            background-color: #f8f9fa;
            font-family: 'Poppins', sans-serif;
        }

        .password-reset-container {
            max-width: 600px; /* Agrandissement de la largeur du cadre */
            margin: 120px auto;
            padding: 40px 50px; /* Augmentation du padding pour un cadre plus grand */
            background-color: #ffffff;
            border-radius: 8px;
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
        }

        p {
            font-size: 18px;
            color: #555;
            line-height: 1.7;
        }

        a {
            color: #007bff;
            transition: all 0.3s;
            text-decoration: underline;
        }

        a:hover {
            color: #0056b3;
        }

        .important-text {
            color: green; /* Texte en vert */
        }
    </style>
{% endblock %}

{% block body %}
<div class="password-reset-container">
    <p>
        Si un compte correspondant à votre adresse e-mail que vous avez mentionné avant, alors un e-mail vient d'être envoyé. Il contient un lien que vous pouvez utiliser pour réinitialiser votre mot de passe.
        Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p class="important-text">Si vous ne recevez pas d'email, merci de vérifier votre dossier de courriers indésirables ou <a href="{{ path('app_forgot_password_request') }}">faire une autre demande</a>.</p>
</div>
{% endblock %}
